@using thesis_wallet.Pages.Renderer.Forms.Buttons

<style>
.mat-card-cont {
    padding: 1rem;
}
</style>

@if (form != null) {
    <MatCard>
            <div class="mat-card-cont">
                @if (!String.IsNullOrEmpty(form.Label)) {
                    <MatHeadline6>
                        @form.Label
                    </MatHeadline6>
                }
                @foreach (FieldGroup group in form.FieldGroups) {
                    <CascadingValue Value="@group">
                        <DFieldGroup></DFieldGroup>
                    </CascadingValue>
                }
            </div>
            <DSubmitButton></DSubmitButton>
    </MatCard>
}

@code {
    [CascadingParameter]
    Form form { get; set; }

    public void refresh() {
        StateHasChanged();
    }
}